[app]
# Маскирование значений словарей в логах. Ключевые слова указывается списком, разделённым запятой.
# Перед выводом логов, каждый ключ проверяется на наличие одного из ключевых значений в имени.
# Если найдено, значение словаря маскируется. ВАЖНО: список всегда содержит "password" и "account_password"
LOGS_MASK_KEYS = password,account_password

# Папка для логов приложения
LOGS_FOLDER = /app/tentacula/logs

# Подключение к БД. Обязательно требуется для [schedulers_ds]
# Допустимо указать ссылку на файл, хранящий значение
DB_ASYNC_URL =

# Приватный ключ шифрования записей.
# Требуется для [schedulers_ds], если задания отправляемые в таблицу необходимо шифровать
# Для генерации рекомендуется использовать "generate_key.py"
# Допустимо указать ссылку на файл, хранящий значение
SECRET_KEY =

[security]
# Тип аутентификации клиента на присосках. Если не указать параметр, то все LIST_OF_PERMITTED будут игнорироваться
# Каждый типа аутентификации контролирует параметр, который считается ID-клиента
# Допустимые значения:
# - NONE - Аутентификация не проводится
# - CERTIFICATE - Проверяется сертификат клиента по subject. Формат LIST_OF_PERMITTED: ["CN=*****", "CN=*****"]
AUTHENTICATION_TYPE = CERTIFICATE

# Список ID-клиентов, которым разрешено подключение к root'вому эндпоинту
LIST_OF_PERMITTED = 

[web]
# Параметры фиксируются в файле конфигурации NGINX

# Путь и имя файла конфигурации NGINX. Если путь не указать, файл не будет создаваться/обновляться
NGINX_FILE = /etc/nginx/nginx.conf

# Папка для логов NGINX
LOGS_FOLDER = /etc/nginx/logs

# Порт публикации API
PORT = 443

# Открытый ключ серверного SSL-сертификата в открытом виде
SSL_CERTFILE = /app/tentacula/certs/server.crt

# Закрытый ключ серверного SSL-сертификата в открытом виде
SSL_KEYFILE = /app/tentacula/certs/server.key

# Корневой сертификат в открытом виде
SSL_CA_CERTS = /app/tentacula/certs/ca.crt

[composition]
# Включение сочлинения
ENABLED = FALSE

# JSON-файл с правилами, подменяющими входящие параметры на целевые.
# Для активации требуется указать путь до файла
TRANSIT =

# Список ID-клиентов, которым разрешено использование сочлинения
LIST_OF_PERMITTED =

[suckers]
# Включение публикации пользовательских присосок
ENABLED = FALSE

# Папка с пользовательскими присосками. Читается только при активном [suckers]
FOLDER = /app/tentacula/suckers

[suckers_ds]
# Включение встроенных присосок для работы с DS через Тентаклю
# Если требуется их переназначить, рекомендуется отключить параметр и переопубликовать их в удобном формате
ENABLED = FALSE

# Список ID-клиентов, которым разрешено использование встроенных DS-присосок
LIST_OF_PERMITTED =

[schedulers]
# Включение публикации пользовательских шедулеров
ENABLED = FALSE

# Папка с пользовательскими шедулерами. Читается только при активном [schedulers]
FOLDER = /app/tentacula/schedulers

[schedulers_ds]
# Включение встроенных шедулеров для работы с DS через Тентаклю.
# Актуален, если инициатором запросов должен быть сервер Тентакли
# и список задач для выполнения будет формироваться в SQL-таблице
ENABLED = FALSE

# JSON-файл с правилами, подменяющими входящие параметры на целевые.
# Для активации требуется указать путь до файла
TRANSIT =
