uvicorn==0.34.0
fastapi[all]==0.115.12
passlib[bcrypt]==1.7.4 # Хеширование паролей
bcrypt==4.3.0 # Хеширование паролей
pyjwt[crypto]==2.10.1 # Работы с JWT-токенами
pydantic~=2.11.7  # Для формирование атрибутов читаемых из запросов
apscheduler==3.11.0  # Приложение для шедуллера запускающего события по расписнаию
dotenv==0.9.9  # Чтение переменных окружения

SQLAlchemy==2.0.40 # Работа с БД
psycopg2-binary==2.9.10 # Расширения для работы с PostgreSQL
asyncpg==0.30.0 # Работа с асинхронностью БД

requests~=2.32.4
httpx==0.28.1
ldap3==2.9.1
python-dotenv~=1.1.1
starlette==0.46.2
httptools==0.6.4
jinja2==3.1.6

pip-system-certs==5.2

python-ldap==3.4.4 # Для работы с запросами к DS

