server {
    listen 5001 ssl;
    server_name localhost api_1 api_2 api_3 nginx_1 nginx_2 nginx_3;

    # сертификат сервера
    ssl_certificate     /etc/nginx/certs/server.crt;
    ssl_certificate_key /etc/nginx/certs/server.key;

    # включаем TLS (по умолчанию nginx >=1.18 тянет TLSv1.2/1.3)
    ssl_protocols       TLSv1.2 TLSv1.3;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    # проверка клиентского сертификата
    ssl_client_certificate /etc/nginx/certs/ca.crt;
    ssl_verify_client on;

    location / {
        proxy_pass http://{{ uvicorn_host_name }}:{{ uvicorn_port }}/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Client-Subject $ssl_client_s_dn;
        proxy_set_header X-Client-Serial $ssl_client_serial;
        proxy_set_header X-Server-IP $server_addr;
    }
}